<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Submitted Data</title>
</head>
<body>
<h1>Submitted Data</h1>
<div th:if="${submittedData}">
    <ul>
        <li th:each="data : ${submittedData}">
            <span th:text="${data.key}">Key</span>: <span th:text="${data.value}">Value</span><br>
        </li>
    </ul>
</div>
</body>
</html>
