<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Result</title>
</head>
<body>
<h1>Published Draft</h1>
<div th:each="entry : ${data}">
    <strong th:text="${entry.key}"></strong>: <span th:text="${entry.value}"></span>
</div>
</body>
</html>
